h1 {
    font-family: fantasy;
    color: #902923;
}

#descricao,
#descricao-texto {
    font-family: monospace;
}

body {
    background-color: #D6D5C9;
    color: #0A100D;
    font-family: monospace;
}

ol {
    line-height: 20px;
}

.informacao {
    line-height: 20px;
}

.titulo {
    color: #A22C29;
}

#sobre-mim h1 {
    text-align: center;
}

#sobre-mim img {
    width: 10%;
    padding: 20px;
    background-color: #0A100D;
}

#sobre-mim-descricao {
    float: right;
    margin-right: 50%;
}

#sobre-mim-descricao h3 {
    margin-top: 0;
}